.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  margin-top: -2px;
  width: 120px;
  height: 66px;
}
.Logo span {
  font-family: "Redressed", cursive;
  font-size: 30px;
  color: ivory;
}
