.Logo{
    display: flex;
    align-items: center;
}
.Logo img{
    margin-top: 30px;
    margin-left: -20px;
    width:150px;
    height:150px;
    
}
.Logo span{
    font-family: 'Redressed', cursive;
    font-size: 30px;
    color: ivory;
}