.Logo{
    display: flex;
    align-items: center;
}
.Logo img{
    margin-top: -5px;
   margin-left: -5px;
    width:100px;
    height:100px;
    
}
.Logo span{
    font-family: 'Redressed', cursive;
    font-size: 30px;
    color: ivory;
}