.SeaFood{
    width:70px;
    height:60px;
    border-radius: 30px;
    
    margin: 10px;
    

}
.fish{
  background-image: url(../../../../assets/fish23.png);

}

.crab{
  background-image: url(../../../../assets/crab23.png); 

}
.salmon{
  background-image: url(../../../../assets/fish22.png);
  
}
.lobster{
  background-image: url(../../../../assets/lobster22.png);
}
.shrimp{
background-image: url(../../../../assets/shrimp22.png);
}
.cavior{
  background-image: url(../../../../assets/caviar22.png);
}
