.SeaFood{
    width:40px;
    height:30px;
    border-radius: 10px;
    border: 1px solid darkblue;
    

  /* margin-right: .5rem;
  margin-bottom: .5rem;  */
  

}
.fish{
border-radius:50%;
border:10px solid red;
background-color: white;
}

.crab{
border-radius: 50%;
border: 10px solid tomato;
background-color: green;

}
.salmon{
 border-radius: 50%;
 border: 10px solid green;
 background-color: yellow; 
  
}
.lobster{
  border-radius: 50%;
  border: 10px solid violet;
  background-color: blue;
}
.shrimp{
  border-radius: 50%;
  border: 10px solid green;
  background-color: violet;
}
.cavior{
  border-radius: 50%;
  border: 10px solid violet;
  background-color: brown;
}
