.SeaFood{
    width:50px;
    height:50px;
    border-radius: 30px;
    border: 1px solid white;
    

  /* margin-right: .5rem;
  margin-bottom: .5rem;  */
  

}
.fish{
border-radius:50%;
border:10px solid red;
background-color: white;
}

.crab{
  background-image: url(../../../../assets/crab22.png);

}
.salmon{
 
  
}
.lobster{
  border-radius: 50%;
  border: 10px solid violet;
  background-color: darkblue;
}
.shrimp{
background-image: url(../../../../assets/shrimp22.png);
}
.cavior{
  background-image: url(../../../../assets/caviar22.png);
}
