.Toolbar{
    height: 70px;
    display: flex;
    justify-content: space-between;


    background-color: #f8b842;
    font-weight: bold;
    
}
@media (max-width:500px){
    .Toolbar{
        width: 407px;
    }
}
