.TableKit{
    border:3px solid gray;
    background-color: lightgray;
    width: 400px;
    height:300px;
    margin-left: 50px;
    /* padding-top: .5rem;
    padding-left: .5rem; */
     
}
 /* .TableKit div{
     border:1px solid red;
     width:400px;
     height:50px;
    
    
 } */
 .TableKit div:nth-child(1){
     border: 1px solid red;
    width:400px;
    height: 50px;
    padding-bottom: 6px;
    display: flex;
    flex-flow:row nowrap;
    
}
 .TableKit div:nth-child(2){
    border: 1px solid red;
     width:50px;
     height: 180px;
     margin-bottom: 20px;
     display: flex;
     flex-flow: column nowrap;
     
 }
 .TableKit div:nth-child(3){
    border: 1px solid red;
    width:50px;
    height: 180px;
    margin-left: 350px;
    margin-top: -200px;
    display: flex;
    flex-flow: column nowrap;
}
.TableKit div:nth-child(4){
    border: 1px solid red;
    width:400px;
    height: 50px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}
 
 