.TableKit{
    border:3px solid gray;
    background-color: lightgray;
    width: 407px;
    height:300px;
    margin-left: 50px;

}
.TableKit .price{
    font-size: 2rem;
    font-weight: bold;
}
 .TableKit div:nth-child(1){
    border: 1px solid red;
    width:400px;
    height: 55px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
}
 .TableKit div:nth-child(2){
    border: 1px solid red;
     width:70px;
     height: 180px;
     margin-bottom: 20px;
     display: flex;
     flex-flow: column nowrap;
     align-content: center;
     
 }
 .TableKit div:nth-child(3){
    border: 1px solid red;
    width:70px;
    height: 180px;
    margin-left: 330px;
    margin-top: -200px;
    margin-top: -200px;
    display: flex;
    flex-flow: column nowrap;
    
}
.TableKit div:nth-child(4){
    border: 1px solid red;
    width:400px;
    height: 59px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    
}
 
 