.TableControl {
  margin-bottom: 1rem;
}
.TableControl .label {
  color: rgb(48, 18, 18);
  font-weight: bold;
  font-style: italic;
}
.TableControl span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
.TableControl button {
  border: none;
  border-radius: 20px;
  background-color: white;
  color: blue;
}
.TableControl button:disabled {
  opacity: 0.5;
}
.TableControl button:not(:disabled):hover {
  opacity: 0.8;
}
