.TableControl{
    margin-bottom: 1rem;
}
.TableControl .label{
    color:rgb(48, 18, 18);
    font-weight: bold;
    font-style: italic;
}

.TableControl button{
  border: 1px solid greenyellow;
  background-color: darkolivegreen;
  color:white;

}