.Serving {
  width: 70px;
  height: 60px;
  border-radius: 30px;
  background-repeat: no-repeat;
}
.fish {
  background-image: url(../../../../assets/image78.png);
}

.crab {
  background-image: url(../../../../assets/crab30.png);
}
.salmon {
  background-image: url(../../../../assets/fish22.png);
}
.lobster {
  background-image: url(../../../../assets/image111.png);
}
.shrimp {
  background-image: url(../../../../assets/image53.png);
}
.cavior {
  background-image: url(../../../../assets/image136.png);
}
