.Serving {
  width: 120px;
  height: 70px;
  background-repeat: no-repeat;
}
.fish {
  background-image: url(../../../../assets/plateoysters.png);
}

.crab {
  background-image: url(../../../../assets/platecrab.png);
}
.salmon {
  background-image: url(../../../../assets/platefish2.png);
}
.lobster {
  background-image: url(../../../../assets/platelobster.png);
}
.shrimp {
  background-image: url(../../../../assets/plateshrimp.png);
}
.cavior {
  background-image: url(../../../../assets/platesoup.png);
}
