.Table {
  border: 3px solid lightblue;
  width: 100%;
  max-width: 500px;
  height: 345px;
  margin-bottom: 40px;

  background-image: url(https://vectr.com/ainurdzholdosheva/c5LpTzFqhg.svg?width=640&height=640&select=c5LpTzFqhgpage0),
    repeating-linear-gradient(
      rgb(157, 195, 207) 0px,
      rgb(115, 155, 167) 15px,
      rgb(243, 237, 237) 15px,
      rgb(243, 237, 237) 30px
    );
  background-position-x: -75px;
  background-position-y: -90px;
}

.Table .price {
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
}
.Table div:nth-child(1) {
  border: 1px solid transparent;
  width: 495px;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  transform: rotate(180deg);
}
.Table div:nth-child(2) {
  border: 1px solid transparent;
  width: 70px;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
  transform: rotate(90deg);
}
.Table div:nth-child(3) {
  border: 1px solid transparent;
  width: 70px;
  height: 200px;
  margin-left: 425px;
  margin-top: -220px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  transform: rotate(-90deg);
}
.Table div:nth-child(4) {
  border: 1px solid transparent;
  width: 495px;
  height: 70px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

@media (min-width: 500px) {
  .Table {
    width: 450px;
  }
  .Table div:nth-child(1) {
    width: 446px;
  }
  .Table div:nth-child(3) {
    margin-left: 376px;
  }
  .Table div:nth-child(4) {
    width: 446px;
  }
}
