.Table {
  border: 3px solid lightblue;
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin-bottom: 40px;

  background-image: url(https://vectr.com/ainurdzholdosheva/c5LpTzFqhg.svg?width=540&height=540&select=c5LpTzFqhgpage0),
    repeating-linear-gradient(
      rgb(155, 191, 202) 0px,
      rgb(155, 191, 202) 15px,
      rgb(209, 197, 197) 15px,
      rgb(209, 197, 197) 30px
    );
  background-position-x: -60px;
  background-position-y: -85px;
}

.Table .price {
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
}
.Table div:nth-child(1) {
  border: 1px solid transparent;
  width: 150px;
  height: 70px;
  margin-left: 130px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  transform: rotate(180deg);
}
.Table div:nth-child(2) {
  border: 1px solid transparent;
  width: 70px;
  height: 100px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
  transform: rotate(90deg);
}
.Table div:nth-child(3) {
  border: 1px solid transparent;
  width: 70px;
  height: 100px;
  margin-left: 320px;
  margin-top: -110px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  transform: rotate(-90deg);
}
.Table div:nth-child(4) {
  border: 1px solid transparent;
  width: 150px;
  height: 70px;
  margin-top: 15px;
  margin-left: 130px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

@media (min-width: 500px) {
  .Table {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .Table {
    width: 400px;
    margin-right: 20px;
  }
}
@media (max-width: 400px) {
  .Table {
    width: 370px;
    margin-left: 20px;

    background-image: url(https://vectr.com/ainurdzholdosheva/c5LpTzFqhg.svg?width=480&height=480&select=c5LpTzFqhgpage0),
      repeating-linear-gradient(
        rgb(155, 191, 202) 0px,
        rgb(155, 191, 202) 15px,
        rgb(209, 197, 197) 15px,
        rgb(209, 197, 197) 30px
      );
    background-position-x: -60px;
    background-position-y: -50px;
  }
  .Table div:nth-child(1) {
    margin-left: 120px;
  }
  .Table div:nth-child(3) {
    margin-left: 290px;
  }
}
@media (max-width: 350px) {
  .Table {
    margin-left: 50px;
  }
}
