.Table {
  border: 3px solid rgb(182, 195, 212);
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  margin-bottom: 40px;

  background-image: url(https://vectr.com/ainurdzholdosheva/c5LpTzFqhg.svg?width=500&height=500&select=c5LpTzFqhgpage0),
    repeating-linear-gradient(
      rgb(182, 195, 212) 0px,
      rgb(182, 195, 212) 15px,
      rgb(250, 248, 248) 15px,
      rgb(250, 248, 248) 30px
    );
  background-position-x: -40px;
  background-position-y: -55px;
}

.Table .price {
  font-size: 2rem;
  font-weight: bold;
  color: #e67417;

  display: flex;
  justify-content: center;
}

.Table .top {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.Table .right {
  width: 70px;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
}
.Table .bottom {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.Table .left {
  width: 70px;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
}
.Table .leftRight {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .Table {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .Table {
    width: 400px;
    margin-right: 20px;
  }
}
@media (max-width: 400px) {
  .Table {
    width: 370px;
    margin-left: 20px;

    background-image: url(https://vectr.com/ainurdzholdosheva/c5LpTzFqhg.svg?width=480&height=480&select=c5LpTzFqhgpage0),
      repeating-linear-gradient(
        rgb(182, 195, 212) 0px,
        rgb(182, 195, 212) 15px,
        rgb(250, 248, 248) 15px,
        rgb(250, 248, 248) 30px
      );
    background-position-x: -60px;
    background-position-y: -50px;
  }
  .Table div:nth-child(1) {
    margin-left: 120px;
  }
  .Table div:nth-child(3) {
    margin-left: 290px;
  }
}
@media (max-width: 350px) {
  .Table {
    margin-left: 50px;
  }
}
